.navbar {
    background-color: #eae7f1;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    transition: 0.3s ease;
    position: relative;
}

.navbar li a:hover,
.navbar li a.active {
    color: rgb(5, 151, 151);
}

.navbar li a:hover::after,
.navbar li a.active::after {
    content: "";
    width: 25px;
    height: 4px;
    border-radius: 5px;
    background-color: rgba(20, 20, 255, 0.708);
    position: absolute;
    bottom: 0;
    left: 4px;
}